librosa==0.9.1
numba
phonemizer
tensorboard
torch
torchvision
Unidecode
amfm_decompy
jieba
transformers
pypinyin
cn2an
gradio
av
Cython==0.29.21
matplotlib==3.7.1
scikit-learn==1.0.2
scipy==1.10.1
numpy==1.24
torchaudio
pyopenjtalk==0.3.0
jamo
protobuf
inflect
eng_to_ipa
ko_pron
indic_transliteration==2.3.37
num_thai==0.0.5
opencc==1.1.1
demucs
openai-whisper
imageio==2.4.1
moviepy
g2p-en